<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.nifasku">

    <application
            android:allowBackup="false"
            android:icon="@drawable/busui"
            android:label="@string/app_name"
            android:supportsRtl="false"
            android:theme="@style/AppTheme">
        <activity android:name=".TanyaBidanActivity">
        </activity>
        <activity android:name=".MitosDanFaktaActivity">
        </activity>
        <activity android:name=".deskripsiD.DescBayiBaruLahir">
        </activity>
        <activity android:name=".deskripsiD.DescIbuNifas">
        </activity>
        <activity android:name=".deskripsiC.DescInformasiKB"/>
        <activity android:name=".TipsKesehatanReproduksi"/>
        <activity android:name=".deskripsiB.DescInformasiImunisasi"/>
        <activity android:name=".deskripsiB.DescTandaBahayaBBL"/>
        <activity android:name=".deskripsiB.DescPerawatanTaliPusat"/>
        <activity android:name=".deskripsiB.DescMemandikanBayi"/>
        <activity android:name=".deskripsiB.DescCaraMemerahAsi"/>
        <activity android:name=".deskripsiB.DescPosisiMenyusui"/>
        <activity android:name=".deskripsiB.DescCaraMenjagaBayi"/>
        <activity android:name=".deskripsiB.DescCaraMenyusui"/>
        <activity android:name=".deskripsiB.DescPemberianAsi"/>
        <activity android:name=".TipsPerawatanBBL"/>
        <activity android:name=".deskripsiA.DescSenamNifas"/>
        <activity android:name=".deskripsiA.DescMengatasiIbuNifas"/>
        <activity android:name=".deskripsiA.DescHarusDihindari"/>
        <activity android:name=".deskripsiA.DescTandaBahayaNifas"/>
        <activity android:name=".deskripsiA.DescIstirahat"/>
        <activity android:name=".deskripsiA.DescKebersihanDiri"/>
        <activity android:name=".deskripsiA.DescNutrisi"/>
        <activity android:name=".deskripsiA.DescMobilisasiDini"/>
        <activity android:name=".TipsMasaNifas"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>